<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>{{title}}</h2>
      </div>
    </div>
    <form #decryptForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="encryptedText">Código cifrado</label>
        <input type="text" name="encryptedText" class="form-control" value="{{model.encryptedText}}" placeholder="09951206240819860737155301772135214713511768"
          required [(ngModel)]="model.encryptedText" />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cipherKey">Llave</label>
          <input type="number" name="key" class="form-control" value={{model.key}} placeholder="29" required [(ngModel)]="model.key" />
        </div>
        <div class="form-group col-md-6">
          <label for="cipherPrime">Primo</label>
          <input type="number" name="cipherPrime" class="form-control" value="{{model.prime}}" placeholder="2633"
            required [(ngModel)]="model.prime" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Descifrar</button>
    </form>
  
    <div class="mart30" [hidden]="!submitted">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Descifrado / Cifrado</h4>
        <p>{{model.plainText}}</p>
        <hr>
        <p class="mb-0">{{model.encryptedText}}</p>
      </div>
    </div>
  </div>
  